
.mosaik-region-preview {
    border: 1px dotted;
    background: aliceblue;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
    clear: both;
    float: none;
}