
fieldset {
    margin: 0 0 1em 0 !important;
}

#top-region {
    height: auto;
    width: 100%;
}

#content-region {
    width: 67%;
    height: auto;
    float: left;
    overflow: auto;
}

#right-region {
    width: 30%;
    height: auto;
    float: left;
    overflow: auto;
    margin-left: 3%;
}

#right-region .mosaik-content-wrapper {
    padding-right: 0;
    padding-left: 0;
}